
*{
  font-family: "HurmeGeometricSans";
  margin: 0;
  padding: 0;
}

#background{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;
  background-size: calc(200px + 7%), 50%;
  background-repeat: no-repeat, repeat;
  background-image: url('../img/background-earth.png'), url('../img/background-stars.png');
  background-position: left bottom, top center;
}
.overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -5;
}
.symbol {
  position:absolute;
  z-index:-1;
 }

.menu{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 5%;
  margin: 1% 0px 2% 0px;
  font-size: 21px;
}
.menu>a, .menu>a:hover, .menu>a:visited{
    color: #ddd;
    text-decoration: none;
}
.menu>a {
    margin-left: 15px;
    display: inline-block;
    line-height: 1;
    cursor: default;
    position:relative;
}
.menu>a:after{
    background-color: #ddd;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.menu>a:hover:after,
.menu>a:focus:after {
    width: 100%;
}
a.active{
  font-family: HurmeGeometricSans-Bold;
}

.hidden{
  position: absolute;
  width: 0;
  height: 0;
}
.social{
  position: absolute;
  bottom: 5%;
  left: 3.8%;
}
.social a{
  cursor: default;
  text-decoration: none;
  margin-right: 15px;
}
.icon{
  position: relative;
  height: 40px;
  width: 40px;
}
.icon:hover{
  transform: scale(1.1);
  transition-duration: .5s;
}

.animate{
    float: left;
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}

@font-face {

font-family: "HurmeGeometricSans"; 

src: url("../font/HurmeGeometricSans.woff") format("woff");
font-style: normal; 
font-weight: normal; 
} 
@font-face {

font-family: "HurmeGeometricSans-Bold"; 

src: url("../font/HurmeGeometricSans-Bold.woff") format("woff");
font-style: normal; 
font-weight: normal; 
} 