html{
  min-height: 100vh;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.main{
 	display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  margin: 0px calc(5px + 5%) 95px calc(5px + 5%);
 }
 .overlay {
  top:-100%;
  height: 200%;
  background: radial-gradient(#5e3148, #290e21) ;
}
 .icon{
  fill: #777;
}
.icon:hover{
  fill: #aaa;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  max-height: 900px;
  height: 80%;
}
.card{
  height: 50%;
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2%;
  overflow: hidden;
}
.card>.img{
  width: 21%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card1{
  background-image: url('../img/1.png');
}
.card2{
  background-image: url('../img/2.png');
}
.card3{
  background-image: url('../img/3.png');
}
.card4{
  background-image: url('../img/4.png');
}
.card>p{
  font-family: HurmeGeometricSans-Bold;
  margin: 5% 0px 3% 0px;
}
.card>.text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text>span{
  color: white; 
  text-align: center;
  opacity: 0;
  transform: translateY(-50px);

}
.card:nth-child(1) span:nth-child(1){
    animation-delay: .25s;
}
.card:nth-child(1) span:nth-child(2){
    animation-delay: .5s;
}
.card:nth-child(1) span:nth-child(3){
    animation-delay: 0.75s;
}

.card:nth-child(2) span:nth-child(1){
    animation-delay: .5s;
}
.card:nth-child(2) span:nth-child(2){
    animation-delay: .75s;
}
.card:nth-child(2) span:nth-child(3){
    animation-delay: 1s;
}

.card:nth-child(3) span:nth-child(1){
    animation-delay: .75s;
}
.card:nth-child(3) span:nth-child(2){
    animation-delay: 1s;
}
.card:nth-child(3) span:nth-child(3){
    animation-delay: 1.25s;
}

.card:nth-child(4) span:nth-child(1){
    animation-delay: 1s;
}
.card:nth-child(4) span:nth-child(2){
    animation-delay: 1.25s;
}
.card:nth-child(4) span:nth-child(3){
    animation-delay: 1.5s;
}
.backgroundNumber{
  font-family: HurmeGeometricSans-Bold;
  font-weight: 900;
  color: white;
  font-size: 300px;
  position: absolute;
  opacity: 0.25;
  bottom: -78.5px;
}
.orange>.backgroundNumber{
 right: -10.4px
}
.blue>.backgroundNumber{
  right: -18.5px
}

.whiteColorFont{
  color: white;
}
.opacity{
  opacity: 0.4;
}
.orange{
  background-color: rgb(244,130,68);
}
.blue{
  background-color: rgb(0,172,194);
}
.card:hover{
  transform: scale(1.05);
  transition-duration: .5s;
}
.pages .page.active:after{
  content: "page 2"
}
