
html{
  min-height: 100vh;
}
body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}
.overlay {
  background: radial-gradient(rgb(85,48,92), rgb(43, 32, 64));
}
 .main{
 	display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}
.about{
  position: absolute;
  text-align: center;
  bottom:5%;
  left: 20%;
  width: 7%;
  font-size: 24px;
  color: white;
  border: none;
  padding: 0.5% 2%;
  background: linear-gradient(to left, rgb(135,52,88), rgb(94,42,90));
  text-decoration: none;
}
 .icon{
  fill: #777;
}
.icon:hover{
  fill: #aaa;
}
.pages .page.active:after{
  content: "page 1"
}
