
html{
  min-height: 100vh;
}
body {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
 .main{
 	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 100%;
 }
 .overlay {
  background: rgb(29,29,37);
}
 .icon{
    fill: #777;
}
.icon:hover{
    fill: #aaa;
}
.contact{
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.contact>.adds{
  font-size:36px;
  width: 100%;
  text-align: center;
}
.contact>.email{
  font-size:24px;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}
.contact>.phone{
  font-size:18px;
  padding-top: 25px;
  width: 100%;
  text-align: center;
}
.picPlanet{

  margin-top: 35px;
  background-image: url('../img/saturn.png');
  background-size: contain;
  background-repeat: no-repeat;

}
#drawing{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4px;
  right: 0px;
}
.pages .page.active:after{
  content: "page 6";
}