
html{
  min-height: 100vh;
}
body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;

}
 .main{
 	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% + 150px);
  height: 90%;
  padding-bottom: 5%;
}
.overlay {
  background: radial-gradient(#1d4769, #0c2132);
}
 .icon{
    fill: #777;
}
.icon:hover{
    fill: #aaa;
}
#slider {
  position: relative;
  overflow: hidden;
}

#slider ul {
  position: relative;
  list-style: none;
  padding-top: 25px;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
}
.slide{
  position: relative;
  width: 100%;
  height: 80%;
  color: white;

}
.slide1{
  background: rgba(58, 166,169,0.9);
}
.slide2{
  background: rgba(62, 175,129,0.9);
}
.slide3{
  background: rgba(228, 124,69,0.9);
}
.slide4{
  background: rgba(202, 89,133,0.9);
}
.slide>.background{

  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../img/earth.png'), url('../img/stars.png');
  background-size: contain;
  background-repeat: no-repeat repeat;
  background-position: bottom right, top left;
  opacity: 0.5;
  z-index: 0;
}
.slide>.backgroundSlide1, .slide>.backgroundSlide2, .slide>.backgroundSlide3, .slide>.backgroundSlide4{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide>.backgroundSlide1{
  background-image: url('../img/1.jpg');
}
.slide>.backgroundSlide2{
  background-image: url('../img/2.jpg');
}
.slide>.backgroundSlide3{
  background-image: url('../img/3.jpg');
}
.slide>.backgroundSlide4{
  background-image: url('../img/4.jpg');
}

.slide>.content{
  padding: 5% calc(3% + 15px);
  display: flex;
  flex-direction: column;
}
.content>.caption{
  font-family: "HurmeGeometricSans-Bold";
}
.content>.description{
  width: 90%;
  padding-top: 3%;
  line-height: 1.8;
}
.content>a{
  text-decoration: none;
}
.content>.button{
  position: relative;
  margin-top: 30px;
  white-space: nowrap;
  width: 100px;
  border: 2px solid white;
  line-height: 1;
  font-size: 19px;
  padding: 10px 20px;
}
.arrow{
  position: absolute;
  font-size: 50px;
  margin-top: -15px;
  margin-left: 10px; 
}
.button>a{
  cursor: default;
}
.button>a, .button>a:hover, .button>a:visited{
    color: #fff;
    text-decoration: none;
}
.number{
  position: absolute;
  font-family: "HurmeGeometricSans-Bold";
  right: 0;
  text-shadow: 3px 3px 10px rgba(0,0,0, 0.4);
}


.caption, .description>span{
  opacity: 0;
  transform: translateY(-50px);

}
.description>.animate{
  animation-delay: 0.9s;
}
.description>.animate:first-child{
    animation-delay: 0.8s;

}

.description>.animate:last-child{
    animation-delay: 1s;
}