
html{
  min-height: 100vh;
}
body {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.overlay{
  background: rgb(29,29,37);
}
#background{
   opacity: 0.3;
}
 .main{
 	display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  min-height: 410px;
 }

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
	width: 75%;
  max-width: 1100px;
  height: 70%;
  min-height: 300px;
  min-width: 430px;
}
.card {
    transform: translate(0%,0%);
    width: calc(50% - 10px);
    height: 45%;
    overflow: hidden;
    box-sizing: border-box;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .75s;
}
.card .imgBx{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card:nth-child(-n+2) .imgBx{
  background-image: url('../img/1.jpg')
}
.card:nth-child(n+3) .imgBx{
  background-image: url('../img/2.jpg')
}
.card .details {
    top: 0;
    left: 100%;
    color: white;
}
.details.turquoise{
  background-color: turquoise;
}
.details.pink{
  background-color: pink;
}
.card:hover .details {
    opacity: 0.9; 
    left: 0%;
}
.card .details .arrow{
  //position: absolute;
}

.icon{
  fill: #444;
}
.icon:hover{
  fill: #777;
}
.pages .page.active:after{
  content: "page 4";
}